{% extends "layout2.html" %}
{% block content %} 
		<section class="wform">
		<div class="regform"><h1>Education Details</h1></div>
		<div class="main form-group">
		<form method="POST" action="">
		{{ form.hidden_tag() }}
		<div id="name">
		<h2 class="name">CLASS 10</h2>
		<font color='white'><b>
			{{ form.c10.label }}
			{{ form.c10 }}
			<br>
			{{form.g10.label }} 
			{{ form.g10 }}
			<br>
			{{ form.y10.label }} 
			{{ form.y10 }}
			<br>
		</div>
		<h2 class="name">CLASS 12</h2>
		
			{{ form.c12.label }}
			{{ form.c12 }}
			<br>
			{{form.g12.label }}
			{{ form.g12 }}
			<br>
			{{ form.y12.label }}
			{{ form.y12 }}
			<br>

		<h2 class="name">Graduation details</h2>
			{{ form.g.label }}
			{{ form.g }}
			<br>
			{{form.gg.label }} 
			{{ form.gg }}
			<br>
			{{ form.yg.label }}
			{{ form.yg }}
			<br>
		<h2 class="name">Post Graduation Details</h2>
			{{ form.pg.label }}
			{{ form.pg }}
			<br>
			{{form.gpg.label }} 
			{{ form.gpg }}
			<br>
			{{ form.ypg.label }} 
			{{ form.ypg }}
			<br>
		</font>
		</b>
		<div id="name">
		<div class="buttons">
		<div><a id="first-link" href="index.html">Back</a></div>
		{{ form.submit(id="first-link") }}
		</div>
		</div>
		</form>
		</div>
		
		</section>
{% endblock content %}