{% extends "layout2.html" %} {% block content %}
<form method="Post" action="">
  <div class="container" style="margin:100px">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <h2 class="mb-3">Education</h2>

        <hr class="mb-4">
        <form class="needs-validation" novalidate>
          <h5>Class 10</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
							{{form.c10.label}}
							{{ form.c10  (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.g10.label}}
							{{ form.g10  (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.y10.label}}
							{{ form.y10  (class="form-control")}}
            </div>
          </div>
					<br>

          <h5>Class 12</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
							{{form.c12.label}}
								{{ form.c12  (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.g12.label}}
								{{ form.g12  (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.y12.label}}
								{{ form.y12  (class="form-control")}}
            </div>
          </div>
					<br>

          <h5>Graduation Details</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
							{{form.g.label}}
								{{ form.g (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.gg.label}}
							{{ form.gg (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.yg.label}}
							{{ form.yg (class="form-control")}}
            </div>
          </div>
					<br>

          <h5>Post Graduation Details</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
							{{form.pg.label}}
							{{ form.pg (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.gpg.label}}
							{{ form.gpg (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
							{{form.ypg.label}}
							{{ form.ypg (class="form-control")}}
            </div>
          </div>
					<br>
          <p>
						<a class="btn btn-secondary btn-lg" role="button" style="color:white" onclick="window.location.href='{{ url_for('details1') }}';">Back</a>
            <!-- <button class="btn btn-secondary btn-lg" type="submit">Back</button> -->
						{{ form.submit(class="btn btn-primary btn-lg") }}
          </p>
        </form>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
