{% extends "layout2.html" %} {% block content %}
<form method="POST" action="">
  <div class="container" style="margin:100px">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <h2 class="mb-3">Projects and Work Experiences</h2>

        <hr class="mb-4">
        <form class="needs-validation" novalidate>
          <h5>Projects</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
              {{ form.p1 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.p2 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.p3 (class="form-control")}}
            </div>
          </div>
          <br>

          <h5>Work/Internship Experience</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
              {{ form.w1 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.w2 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.w3 (class="form-control")}}
            </div>
          </div>
          <br>

          <h5>Other Activities- Technical/Cultural</h5>
          <div class="row">
            <div class="col-md-12 mb-3">
              {{ form.p1 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.o2 (class="form-control")}}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.o3 (class="form-control")}}
            </div>
          </div>
          <br>

          <p>
            <a class="btn btn-secondary btn-lg" role="button" style="color:white" onclick="window.location.href='{{ url_for('skills1') }}';">Back</a>
            {{ form.submit(class="btn btn-primary btn-lg") }}
          </p>
        </form>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
