{% extends "layout2.html" %}
{% block content %} 

		<section class="wform">
		<div class="regform"><h1>Projects and Work experiences</h1></div>
		<div class="main">
		<form method="POST" action="">
		<font color='white'><b>
		{{ form.hidden_tag() }}
		<div id="name">
		<h2 class="name">PROJECTS</h2>
		<br>
			{{ form.p1.label }}{{ form.p1(size=70) }}
			<br>

			{{ form.p2.label }}{{ form.p2(size=70) }}
			<br>
			{{ form.p2.label }}{{ form.p3(size=70) }}		
		<br>
		</div>
		<br>
		<br>
		<div id="name">
		<h2 class="name">Work/Internship Experience</h2>
		<br>

			{{ form.w1.label }}{{ form.w1(size=70) }}
			<br>	
			{{ form.w2.label }}{{ form.w2(size=70) }}
			<br>
			{{ form.w3.label }}{{ form.w3(size=70) }}		
		<br>
		</div>
		<br><br>
		<div id="name">
		<h2 class='name'>Other Activities- Technical/Cultural</h2>
		<br>

			{{ form.o1.label }}{{ form.o1(size=70) }}
			<br>
			{{ form.o2.label }}{{ form.o2(size=70) }}
			<br>
			{{ form.o3.label }}{{ form.o3(size=70) }}	
		<br>
			{{ form.o4.label }}{{ form.o4(size=70) }}			
		<br>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="buttons">
		<div><a id="first-link" onclick="window.location.href='{{ url_for('skills1') }}';">Back</a></div>
		{{ form.submit(class="btn btn-default btn-block signin-btn", id="first-link") }}
		</div>

		</form>
		</div>
		</section>
{% endblock content %}